DATABASE_URL="postgresql://postgres:password@localhost:5432/job-finder"
OPENAI_API_KEY="OPENAI_API_KEY"
# OPENAI_API_MODEL="gpt-3.5-turbo"
USEME_EMAIL="example@email.pl"
USEME_PASSWORD="password"
USEME_PAYMENT="8000"
USEME_WORK_DAYS="10"
#DEBUG="1"